html {
  height: 100%;
  background-color: #EBEBEB;
  color: #595959;
}

h1{
  font-size: 36px;
  margin: 0;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

input{
  background-color: #EBEBEB;
  border: 0;
  outline: none;
  height: 30px;
  border-radius: 5px;
  padding-left: 20px;
}
svg{
  color: #595959;
}

p {
  width: 200px;
  text-transform: uppercase;
  text-align: left; margin: 0;
  margin-bottom: 25px;
  font-size: 16px;
}

.Todo-container{
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 25px;
}

.Todo-buttons{
  display: inline-block;
}

.Todo-text{
  width: 100%;
  font-weight: bold;
  display: inline-block;
  margin: 0;
}

.App {
  margin: 1em auto;
  background-color: white;
  width: 270px;
  padding: 40px;
  border-radius: 5px;
}

.completed{
  color: lightgrey;
  text-decoration: line-through;
}

.submit-button{
  background-color: #3284D6;
  border: 0;
  outline: none;
  height: 32px;
  width: 50px;
  border-radius: 5px;
  margin-left: 10px;
  color: white;
  font-weight: bold;
}

.edit-button{
  margin-top: 10px;
  color: #0f8a08;
  border: 2px solid #0f8a08;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  margin-right: 10px;
  padding: .5em;
}
.delete-button{
  margin-top: 10px;
  color: #a60a0a;
  border: 2px solid #a60a0a;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  margin-right: 10px;
  padding: .5em;
}
.update-button{
  margin-top: 10px;
  color: #3284D6;
  padding: .5em;
  border: 2px solid #3284D6;
  border-radius: 5px;
  background-color: white;
  font-weight: bold;
  margin-right: 10px;
}

::placeholder{
  font-size: 16px;
}
